In [5]:
text = "banana is very good banana and also monkey likes banana and i am vey happy that is when a banana is good banana monkey like it"
count_banana =text.count("banana")
print(count_banana)

5

In [27]:
#change the 3rd elemnt in the text which is repeating "banana"
text = "banana is very good banana and also monkey likes banana and i am vey happy that is when a banana is good banana monkey like it"
temp = text.replace("banana","temp",2)
result = temp.replace("banana","mango",1)
result = result.replace("temp","banana",2)
print(result)

AttributeError: 'str' object has no attribute 'replaceall'

In [24]:
#2nd way to do
text = "banana is very good banana and also monkey likes banana and i am vey happy that is when a banana is good banana monkey like it"

parts = text.split("banana", 3)  # Split at first 3 "banana"s
if len(parts) >= 4:  # Make sure we have at least 3 "banana"s
    result = parts[0] + "banana" + parts[1] + "banana" + parts[2] + "mango" + parts[3]
else:
    result = text

print(result)

banana is very good banana and also monkey likes mango and i am vey happy that is when a banana is good banana monkey like it

In [25]:
#Pattern 1: Position-based Replacements

In [22]:
text = "hello world python programming"
# Replace every 2nd word with "CODE"
# Expected: "hello CODE python CODE"

list = text.split(" ")
print(list)
count = len(list)
print(count)

['hello', 'world', 'python', 'programming']
4